apps/*/ebin
apps/*/.rebar
deps/*
rel/glot
log
.rebar/*
*.dump
_rel

[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
._*
env_prod.sh
env_dev.sh
scripts/run.glot.io
_rel_start.sh
scripts
rebar.lock
_build
