{lib_dirs, ["deps", "apps"]}.
{sub_dirs, ["apps/*"]}.

{erl_opts, [
    {i, "apps"},
    {i, "deps"},
    {parse_transform, lager_transform}
]}.

{deps, [
    {lager, "2.*", {git, "git://github.com/basho/lager", "HEAD"}},
    {jsx, "2.*", {git, "git://github.com/talentdeficit/jsx", "HEAD"}},
    {cowboy, ".*", {git, "git://github.com/extend/cowboy", {branch, "1.0.x"}}},
    {hackney, ".*", {git, "git://github.com/benoitc/hackney.git", {branch, "master"}}},
    {iso8601, ".*", {git, "git://github.com/seansawyer/erlang_iso8601.git", {tag, "1.1.1"}}},
    {uuid, ".*", {git, "git://github.com/okeuday/uuid.git", {tag, "v1.4.0"}}},
    {sync, ".*", {git, "git://github.com/rustyio/sync.git", "HEAD"}}
]}.
